@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1e2432;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.4375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  width: 100%;
  max-width: 87.5rem;
  border-radius: 20px;
}

@supports (padding: clamp( 0.625rem , -0.3396302251rem  +  4.8231511254vw , 3.4375rem )) {
  .popup__content {
    padding: clamp( 0.625rem , -0.3396302251rem  +  4.8231511254vw , 3.4375rem );
  }
}

@supports not (padding: clamp( 0.625rem , -0.3396302251rem  +  4.8231511254vw , 3.4375rem )) {
  .popup__content {
    padding: calc(0.625rem + 2.8125 * (100vw - 20rem) / 58.3125);
  }
}

.lock .popup__content {
  visibility: visible;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__title {
  font-weight: 700;
  line-height: 1.2564102564;
  letter-spacing: -0.462633px;
  color: #000000;
  position: relative;
  padding-left: 2.5rem;
}

@supports (font-size: clamp( 1.25rem , 0.8427116827rem  +  2.0364415863vw , 2.4375rem )) {
  .popup__title {
    font-size: clamp( 1.25rem , 0.8427116827rem  +  2.0364415863vw , 2.4375rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.8427116827rem  +  2.0364415863vw , 2.4375rem )) {
  .popup__title {
    font-size: calc(1.25rem + 1.1875 * (100vw - 20rem) / 58.3125);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , -0.4558547696rem  +  6.9667738478vw , 5rem )) {
  .popup__title {
    margin-bottom: clamp( 0.9375rem , -0.4558547696rem  +  6.9667738478vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.4558547696rem  +  6.9667738478vw , 5rem )) {
  .popup__title {
    margin-bottom: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 58.3125);
  }
}

.popup__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: #ff9900;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.popup__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  line-height: 0.9090909091;
  text-align: center;
  color: #ff9900;
  padding-right: 0.9375rem;
  position: relative;
}

@supports (font-size: clamp( 0.9375rem , 0.783159164rem  +  0.7717041801vw , 1.3875rem )) {
  .popup__close {
    font-size: clamp( 0.9375rem , 0.783159164rem  +  0.7717041801vw , 1.3875rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.783159164rem  +  0.7717041801vw , 1.3875rem )) {
  .popup__close {
    font-size: calc(0.9375rem + 0.45 * (100vw - 20rem) / 58.3125);
  }
}

.popup__close::after {
  content: url("../img/example/close.svg");
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup__hero {
  display: none;
  gap: 2.375rem;
}

.popup__body {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60.4166666667%;
          flex: 0 0 60.4166666667%;
  height: 30.4375rem;
  -webkit-box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
  border-radius: 0.625rem;
}

.popup__body iframe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.625rem;
}

.popup__block {
  background-color: #f5f7fa;
  border-radius: 9.25265px;
  padding: 1.5rem;
}

.popup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup__list:not(:last-child) {
  margin-bottom: 1.875rem;
}

.popup__item {
  position: relative;
  padding-left: 0.9375rem;
  margin-right: 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #3f3e3e;
  margin-bottom: 1rem;
}

.popup__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.625rem;
  height: 0.625rem;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  border-radius: 50%;
  background-color: #ff9900;
}

.popup__subtext {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3063063063;
  color: #555f73;
}

.popup-show .popup__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.5px;
  color: #0c2e42;
  text-align: center;
}

@supports (font-size: clamp( 1.875rem , 1.48914791rem  +  1.9292604502vw , 3rem )) {
  .title {
    font-size: clamp( 1.875rem , 1.48914791rem  +  1.9292604502vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.48914791rem  +  1.9292604502vw , 3rem )) {
  .title {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 58.3125);
  }
}

.text-example {
  position: relative;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: -0.5px;
  color: #000000;
  padding-left: 1.25rem;
  max-width: 16.1875rem;
}

.text-example:not(:last-child) {
  margin-bottom: 0.2em;
}

.text-example::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #ff9900;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.more-example {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #000000;
  opacity: 0.6;
  padding-left: 1.25rem;
}

.more-example::after {
  margin-left: 0.625rem;
  content: url("../img/example/arrow-modal.svg");
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding-top: clamp( 1.25rem , 1.057073955rem  +  0.9646302251vw , 1.8125rem )) {
  .header {
    padding-top: clamp( 1.25rem , 1.057073955rem  +  0.9646302251vw , 1.8125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 1.057073955rem  +  0.9646302251vw , 1.8125rem )) {
  .header {
    padding-top: calc(1.25rem + 0.5625 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 1.057073955rem  +  0.9646302251vw , 1.8125rem )) {
  .header {
    padding-bottom: clamp( 1.25rem , 1.057073955rem  +  0.9646302251vw , 1.8125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.057073955rem  +  0.9646302251vw , 1.8125rem )) {
  .header {
    padding-bottom: calc(1.25rem + 0.5625 * (100vw - 20rem) / 58.3125);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transition: -webkit-backdrop-filter 0.3s ease 0s;
  transition: -webkit-backdrop-filter 0.3s ease 0s;
  -o-transition: backdrop-filter 0.3s ease 0s;
  transition: backdrop-filter 0.3s ease 0s;
  transition: backdrop-filter 0.3s ease 0s, -webkit-backdrop-filter 0.3s ease 0s;
}

@supports (margin-right: clamp( 1.875rem , -39.9196428571rem  +  67.4107142857vw , 20.75rem )) {
  .header__logo {
    margin-right: clamp( 1.875rem , -39.9196428571rem  +  67.4107142857vw , 20.75rem );
  }
}

@supports not (margin-right: clamp( 1.875rem , -39.9196428571rem  +  67.4107142857vw , 20.75rem )) {
  .header__logo {
    margin-right: calc(1.875rem + 18.875 * (100vw - 62rem) / 28);
  }
}

@supports (margin-right: clamp( 1.875rem , 1.7249464094rem  +  0.7502679528vw , 2.3125rem )) {
  .header__menu {
    margin-right: clamp( 1.875rem , 1.7249464094rem  +  0.7502679528vw , 2.3125rem );
  }
}

@supports not (margin-right: clamp( 1.875rem , 1.7249464094rem  +  0.7502679528vw , 2.3125rem )) {
  .header__menu {
    margin-right: calc(1.875rem + 0.4375 * (100vw - 20rem) / 58.3125);
  }
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #1b1b1b;
  padding: 0.9375rem 1.9375rem 1.0625rem 1.875rem;
  background-color: #ff9900;
  border-radius: 0.25rem;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item {
  white-space: nowrap;
}

.menu__link {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #1e2432;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.spollers {
  position: relative;
}

@supports (margin-right: clamp( 1.875rem , 0.9746784566rem  +  4.501607717vw , 4.5rem )) {
  .spollers {
    margin-right: clamp( 1.875rem , 0.9746784566rem  +  4.501607717vw , 4.5rem );
  }
}

@supports not (margin-right: clamp( 1.875rem , 0.9746784566rem  +  4.501607717vw , 4.5rem )) {
  .spollers {
    margin-right: calc(1.875rem + 2.625 * (100vw - 20rem) / 58.3125);
  }
}

.spollers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spollers__icon {
  margin-right: 0.5625rem;
}

.spollers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #1e2432;
}

.spollers__title img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.spollers__title._spoller-active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spollers__body {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  background-color: #ff9900;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #1e2432;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #000000;
}

@supports (padding-top: clamp( 1.875rem , 1.6177652733rem  +  1.2861736334vw , 2.625rem )) {
  .footer {
    padding-top: clamp( 1.875rem , 1.6177652733rem  +  1.2861736334vw , 2.625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.6177652733rem  +  1.2861736334vw , 2.625rem )) {
  .footer {
    padding-top: calc(1.875rem + 0.75 * (100vw - 20rem) / 58.3125);
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.top-footer {
  padding-bottom: 0.875rem;
  border-bottom: 0.0625rem solid rgba(85, 95, 115, 0.4039215686);
}

@supports (margin-right: clamp( 1.875rem , -39.0892857143rem  +  66.0714285714vw , 20.375rem )) {
  .top-footer__logo {
    margin-right: clamp( 1.875rem , -39.0892857143rem  +  66.0714285714vw , 20.375rem );
  }
}

@supports not (margin-right: clamp( 1.875rem , -39.0892857143rem  +  66.0714285714vw , 20.375rem )) {
  .top-footer__logo {
    margin-right: calc(1.875rem + 18.5 * (100vw - 62rem) / 28);
  }
}

.top-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 1.25rem , 0.8212754555rem  +  2.1436227224vw , 2.5rem )) {
  .top-footer__list {
    gap: clamp( 1.25rem , 0.8212754555rem  +  2.1436227224vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.8212754555rem  +  2.1436227224vw , 2.5rem )) {
  .top-footer__list {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.3125);
  }
}

.top-footer__link {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #ffffff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.actions-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.25rem , 0.9927652733rem  +  1.2861736334vw , 2rem )) {
  .actions-footer {
    gap: clamp( 1.25rem , 0.9927652733rem  +  1.2861736334vw , 2rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.9927652733rem  +  1.2861736334vw , 2rem )) {
  .actions-footer {
    gap: calc(1.25rem + 0.75 * (100vw - 20rem) / 58.3125);
  }
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.375rem;
}

@supports (padding-bottom: clamp( 1.875rem , 1.4034030011rem  +  2.3579849946vw , 3.25rem )) {
  .bottom-footer {
    padding-bottom: clamp( 1.875rem , 1.4034030011rem  +  2.3579849946vw , 3.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4034030011rem  +  2.3579849946vw , 3.25rem )) {
  .bottom-footer {
    padding-bottom: calc(1.875rem + 1.375 * (100vw - 20rem) / 58.3125);
  }
}

.bottom-footer__copy {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #e6e8ed;
  opacity: 0.7;
}

.bottom-footer__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #ffffff;
}

.bottom-footer__ua {
  padding-right: 0.375rem;
}

.bottom-footer__eng {
  padding-left: 0.375rem;
  position: relative;
  color: #aaadb5;
  color: #aaadb5;
}

.bottom-footer__eng::before {
  content: "";
  position: absolute;
  width: 0.125rem;
  height: 0.125rem;
  background-color: #aaadb5;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  top: 50%;
  left: 0;
}

.no-webp .get-started{
  background: url("../img/get-started/BG.png") center/cover no-repeat; }

.get-started {
  background-color: #fcfcfc;
}

.get-started__container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.4375rem;
}

@supports (padding-top: clamp( 5rem , 2.6634512326rem  +  11.6827438371vw , 11.8125rem )) {
  .get-started__container {
    padding-top: clamp( 5rem , 2.6634512326rem  +  11.6827438371vw , 11.8125rem );
  }
}

@supports not (padding-top: clamp( 5rem , 2.6634512326rem  +  11.6827438371vw , 11.8125rem )) {
  .get-started__container {
    padding-top: calc(5rem + 6.8125 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -2.1335744909rem  +  20.0428724544vw , 13.5625rem )) {
  .get-started__container {
    padding-bottom: clamp( 1.875rem , -2.1335744909rem  +  20.0428724544vw , 13.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.1335744909rem  +  20.0428724544vw , 13.5625rem )) {
  .get-started__container {
    padding-bottom: calc(1.875rem + 11.6875 * (100vw - 20rem) / 58.3125);
  }
}

.get-started__title {
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: -0.01em;
  color: #1e2432;
}

@supports (font-size: clamp( 1.875rem , 1.4034030011rem  +  2.3579849946vw , 3.25rem )) {
  .get-started__title {
    font-size: clamp( 1.875rem , 1.4034030011rem  +  2.3579849946vw , 3.25rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.4034030011rem  +  2.3579849946vw , 3.25rem )) {
  .get-started__title {
    font-size: calc(1.875rem + 1.375 * (100vw - 20rem) / 58.3125);
  }
}

.get-started__title:not(:last-child) {
  margin-bottom: 0.7307692308em;
}

.get-started__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #1e2432;
  max-width: 25rem;
}

.get-started__text:not(:last-child) {
  margin-bottom: 3.1em;
}

.get-started__button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  text-align: center;
  color: #ff9900;
  background: #ffffff;
  border: 0.125rem solid #ff9900;
  border-radius: 0.25rem;
  padding: 0.9375rem 4.5rem 1.0625rem 2.0625rem;
  position: relative;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.get-started__button::after {
  content: url("../img/get-started/arrow-right.svg");
  position: absolute;
  top: 55%;
  right: 4.4510385757%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.get-started__image {
  margin-right: -9rem;
  position: relative;
}

.get-started__image img {
  position: relative;
  z-index: 2;
}

.get-started__decor1 {
  position: absolute;
  width: 15.1875rem;
  height: 15.1875rem;
  bottom: -6.9375rem;
  right: -3.75rem;
  border-radius: 50%;
  border: 0.125rem solid rgba(255, 153, 0, 0.25);
}

.get-started__decor2 {
  position: absolute;
  width: 22.8125rem;
  height: 22.8125rem;
  bottom: -10.75rem;
  right: -7.5625rem;
  border-radius: 50%;
  border: 0.125rem solid rgba(255, 153, 0, 0.15);
}

.get-started__decor3 {
  position: absolute;
  width: 30.4375rem;
  height: 30.4375rem;
  bottom: -14.5625rem;
  right: -11.375rem;
  border-radius: 50%;
  border: 0.125rem solid rgba(255, 153, 0, 0.05);
}

.info {
  background-color: #fcfcfc;
}

@supports (padding-top: clamp( 1.875rem , 0.9103697749rem  +  4.8231511254vw , 4.6875rem )) {
  .info {
    padding-top: clamp( 1.875rem , 0.9103697749rem  +  4.8231511254vw , 4.6875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.9103697749rem  +  4.8231511254vw , 4.6875rem )) {
  .info {
    padding-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7388799571rem  +  5.6806002144vw , 5.1875rem )) {
  .info {
    padding-bottom: clamp( 1.875rem , 0.7388799571rem  +  5.6806002144vw , 5.1875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7388799571rem  +  5.6806002144vw , 5.1875rem )) {
  .info {
    padding-bottom: calc(1.875rem + 3.3125 * (100vw - 20rem) / 58.3125);
  }
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 1.875rem , -1.190380493rem  +  15.3269024652vw , 10.8125rem )) or (column-gap: clamp( 1.875rem , -1.190380493rem  +  15.3269024652vw , 10.8125rem ))) {
  .info__container {
    -webkit-column-gap: clamp( 1.875rem , -1.190380493rem  +  15.3269024652vw , 10.8125rem );
       -moz-column-gap: clamp( 1.875rem , -1.190380493rem  +  15.3269024652vw , 10.8125rem );
            column-gap: clamp( 1.875rem , -1.190380493rem  +  15.3269024652vw , 10.8125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -1.190380493rem  +  15.3269024652vw , 10.8125rem )) or (column-gap: clamp( 1.875rem , -1.190380493rem  +  15.3269024652vw , 10.8125rem ))) {
  .info__container {
    -webkit-column-gap: calc(1.875rem + 8.9375 * (100vw - 20rem) / 58.3125);
       -moz-column-gap: calc(1.875rem + 8.9375 * (100vw - 20rem) / 58.3125);
            column-gap: calc(1.875rem + 8.9375 * (100vw - 20rem) / 58.3125);
  }
}

.info__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.8125rem;
          flex: 0 0 25.8125rem;
  margin: 0 auto;
}

.info__image img {
  max-width: 100%;
}

.info__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info__title {
  font-weight: 700;
  line-height: 1.5428571429;
  color: #1e2432;
}

@supports (font-size: clamp( 1.875rem , 1.7678188639rem  +  0.5359056806vw , 2.1875rem )) {
  .info__title {
    font-size: clamp( 1.875rem , 1.7678188639rem  +  0.5359056806vw , 2.1875rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7678188639rem  +  0.5359056806vw , 2.1875rem )) {
  .info__title {
    font-size: calc(1.875rem + 0.3125 * (100vw - 20rem) / 58.3125);
  }
}

.info__title:not(:last-child) {
  margin-bottom: 1.3428571429em;
}

.info__text {
  font-weight: 500;
  line-height: 1.4583333333;
  color: #000000;
}

@supports (font-size: clamp( 1.25rem , 1.1642550911rem  +  0.4287245445vw , 1.5rem )) {
  .info__text {
    font-size: clamp( 1.25rem , 1.1642550911rem  +  0.4287245445vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1642550911rem  +  0.4287245445vw , 1.5rem )) {
  .info__text {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 58.3125);
  }
}

.info__text span {
  font-weight: 700;
}

.info__text p:not(:last-child) {
  margin-bottom: 2.5rem;
}

.comments {
  background-color: #f5f9fe;
}

@supports (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .comments {
    padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .comments {
    padding-top: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .comments {
    padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .comments {
    padding-bottom: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.comments__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49.9375rem;
          flex: 0 1 49.9375rem;
}

.comments__image img {
  max-width: 100%;
}

.body-comments {
  background: #ffffff;
  border-radius: 0.625rem;
  -webkit-filter: drop-shadow(0px 6px 20px #c5ccd7);
          filter: drop-shadow(0px 6px 20px #c5ccd7);
  padding: 3.125rem 3.375rem 3rem 3.625rem;
}

.body-comments__icon {
  margin-bottom: 0.6875rem;
}

.body-comments__text {
  font-weight: 700;
  line-height: 1.4583333333;
  letter-spacing: -0.2px;
  color: #0c2e42;
  margin-bottom: 3.9375rem;
}

@supports (font-size: clamp( 1.25rem , 1.1642550911rem  +  0.4287245445vw , 1.5rem )) {
  .body-comments__text {
    font-size: clamp( 1.25rem , 1.1642550911rem  +  0.4287245445vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1642550911rem  +  0.4287245445vw , 1.5rem )) {
  .body-comments__text {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 58.3125);
  }
}

.body-comments__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.body-comments__author {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  letter-spacing: -0.2px;
  color: #0c2e42;
}

.body-comments__profession {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2.1428571429;
  color: #555f73;
  opacity: 0.7;
}

.statistics {
  position: relative;
}

.statistics img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@supports (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .statistics {
    padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .statistics {
    padding-top: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1614415863rem  +  10.1822079314vw , 7.8125rem )) {
  .statistics {
    padding-bottom: clamp( 1.875rem , -0.1614415863rem  +  10.1822079314vw , 7.8125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1614415863rem  +  10.1822079314vw , 7.8125rem )) {
  .statistics {
    padding-bottom: calc(1.875rem + 5.9375 * (100vw - 20rem) / 58.3125);
  }
}

.statistics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.statistics__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.statistics__value {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1.54;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ff9900;
}

.statistics__value:not(:last-child) {
  margin-bottom: 0.1em;
}

.statistics__text {
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 1.4285714286;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.analytics {
  background-color: #f5f9fe;
}

@supports (padding-top: clamp( 1.875rem , -0.3758038585rem  +  11.2540192926vw , 8.4375rem )) {
  .analytics {
    padding-top: clamp( 1.875rem , -0.3758038585rem  +  11.2540192926vw , 8.4375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.3758038585rem  +  11.2540192926vw , 8.4375rem )) {
  .analytics {
    padding-top: calc(1.875rem + 6.5625 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .analytics {
    padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .analytics {
    padding-bottom: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

.analytics__title {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.5px;
  color: #0c2e42;
  text-align: center;
}

@supports (font-size: clamp( 1.875rem , 1.48914791rem  +  1.9292604502vw , 3rem )) {
  .analytics__title {
    font-size: clamp( 1.875rem , 1.48914791rem  +  1.9292604502vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.48914791rem  +  1.9292604502vw , 3rem )) {
  .analytics__title {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 58.3125);
  }
}

.analytics__title:not(:last-child) {
  margin-bottom: 1.6666666667em;
}

.analytics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8125rem;
}

.analytics__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.6875rem;
          flex: 0 0 43.6875rem;
  max-height: 25.4375rem;
  position: relative;
}

.analytics__image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.analytics__decor1 {
  position: absolute;
  width: 15.1875rem;
  height: 15.1875rem;
  bottom: -6.1875rem;
  left: -5.3125rem;
  border-radius: 50%;
  border: 0.125rem solid rgba(255, 153, 0, 0.25);
}

.analytics__decor2 {
  position: absolute;
  width: 22.8125rem;
  height: 22.8125rem;
  bottom: -10rem;
  left: -9.125rem;
  border-radius: 50%;
  border: 0.125rem solid rgba(255, 153, 0, 0.15);
}

.analytics__decor3 {
  position: absolute;
  width: 30.4375rem;
  height: 30.4375rem;
  bottom: -13.8125rem;
  left: -12.9375rem;
  border-radius: 50%;
  border: 0.125rem solid rgba(255, 153, 0, 0.05);
}

.content-analytics__list:not(:last-child) {
  margin-bottom: 1.875rem;
}

.content-analytics__item {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: -0.5px;
  color: #0c2e42;
  position: relative;
  padding-left: 1.875rem;
}

.content-analytics__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.625rem;
  height: 0.625rem;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  border-radius: 50%;
  background-color: #ff9900;
}

.content-analytics__item:not(:last-child) {
  margin-bottom: 1.5em;
}

.content-analytics__button {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75;
  text-align: center;
  color: #1e2432;
  background-color: #ff9900;
  border-radius: 0.25rem;
  padding: 0.5625rem 1.4375rem 0.8125rem 1.375rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.example {
  background-color: #fcfcfc;
}

@supports (padding-top: clamp( 1.875rem , -0.6973472669rem  +  12.8617363344vw , 9.375rem )) {
  .example {
    padding-top: clamp( 1.875rem , -0.6973472669rem  +  12.8617363344vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.6973472669rem  +  12.8617363344vw , 9.375rem )) {
  .example {
    padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .example {
    padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .example {
    padding-bottom: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

.example__title:not(:last-child) {
  margin-bottom: 1.3125em;
}

.example__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.example__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.example__side {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-example__item img {
  max-width: 100%;
}

.main-example__image:not(:last-child) {
  margin-bottom: 0.875rem;
}

.side-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}

.side-example__item {
  max-width: 17.5rem;
}

.side-example__item img {
  max-width: 100%;
}

.side-example__image:not(:last-child) {
  margin-bottom: 0.875rem;
}

.export {
  background: #fcfcfc;
}

@supports (padding-bottom: clamp( 1.875rem , -0.5687299035rem  +  12.2186495177vw , 9rem )) {
  .export {
    padding-bottom: clamp( 1.875rem , -0.5687299035rem  +  12.2186495177vw , 9rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.5687299035rem  +  12.2186495177vw , 9rem )) {
  .export {
    padding-bottom: calc(1.875rem + 7.125 * (100vw - 20rem) / 58.3125);
  }
}

.export__title:not(:last-child) {
  margin-bottom: 1.25em;
}

.export__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.375rem;
  position: relative;
}

.export__slider {
  margin: -1.875rem;
  padding: 1.875rem;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.895625rem;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0px 0.25rem 1.875rem rgba(59, 84, 122, 0.2);
          box-shadow: 0px 0.25rem 1.875rem rgba(59, 84, 122, 0.2);
  border-radius: 0.625rem;
  padding: 1.25rem 3.9375rem 1.25rem 0.75rem;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
  cursor: pointer;
  transition: border 0.3s ease 0s;
}

.swiper-slide.swiper-slide-thumb-active {
  border: 0.0625rem solid #ff9900;
}

.swiper-slide__text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  color: #1e2432;
}

.thumbs__slider {
  max-width: 58.125rem;
  margin: -0.9375rem;
  padding: 0.9375rem;
}

.thumbs__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.625rem;
  height: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 1.25rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0.25rem 0.3125rem rgba(59, 84, 122, 0.2);
          box-shadow: 0px 0.25rem 0.3125rem rgba(59, 84, 122, 0.2);
  border-radius: 0.625rem;
  border: none;
}

.thumbs__slide img {
  max-width: 100%;
}

.download {
  position: relative;
}

.download img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (padding-top: clamp( 1.875rem , 0.3744640943rem  +  7.5026795284vw , 6.25rem )) {
  .download {
    padding-top: clamp( 1.875rem , 0.3744640943rem  +  7.5026795284vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.3744640943rem  +  7.5026795284vw , 6.25rem )) {
  .download {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2029742765rem  +  8.3601286174vw , 6.75rem )) {
  .download {
    padding-bottom: clamp( 1.875rem , 0.2029742765rem  +  8.3601286174vw , 6.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2029742765rem  +  8.3601286174vw , 6.75rem )) {
  .download {
    padding-bottom: calc(1.875rem + 4.875 * (100vw - 20rem) / 58.3125);
  }
}

.download__container {
  position: relative;
}

.download__title {
  text-align: left;
  max-width: 42.0625rem;
}

.download__title:not(:last-child) {
  margin-bottom: 1.125em;
}

.download__form {
  position: relative;
}

.download .form__error {
  position: absolute;
  top: 110%;
  left: 0;
  text-align: center;
  color: red;
  -webkit-transform: translate(0px, -18%);
      -ms-transform: translate(0px, -18%);
          transform: translate(0px, -18%);
}

.download__input {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375;
  color: #3b3e45;
  max-width: 32.25rem;
  padding: 1.25rem 7.8125rem;
  text-align: center;
}

.download__input::-webkit-input-placeholder {
  text-align: center;
}

.download__input::-moz-placeholder {
  text-align: center;
}

.download__input:-ms-input-placeholder {
  text-align: center;
}

.download__input::-ms-input-placeholder {
  text-align: center;
}

.download__input::placeholder {
  text-align: center;
}

.download__input:not(:last-child) {
  margin-bottom: 0.75rem;
}

.download__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  color: #ff9900;
  background: #ffffff;
  border: 0.125rem solid #ff9900;
  border-radius: 0.25rem;
  padding: 0.9375rem 4.5rem 1.0625rem 2.0625rem;
  position: relative;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  width: 32.25rem;
}

@supports (margin-top: clamp( 0.75rem , 0.557073955rem  +  0.9646302251vw , 1.3125rem )) {
  .download__button {
    margin-top: clamp( 0.75rem , 0.557073955rem  +  0.9646302251vw , 1.3125rem );
  }
}

@supports not (margin-top: clamp( 0.75rem , 0.557073955rem  +  0.9646302251vw , 1.3125rem )) {
  .download__button {
    margin-top: calc(0.75rem + 0.5625 * (100vw - 20rem) / 58.3125);
  }
}

.download__button::after {
  content: url("../img/get-started/arrow-right.svg");
  position: absolute;
  top: 55%;
  right: 21.7054263566%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@supports (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .entrepreneurship {
    padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .entrepreneurship {
    padding-top: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .entrepreneurship {
    padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .entrepreneurship {
    padding-bottom: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

.entrepreneurship__title:not(:last-child) {
  margin-bottom: 0.8333333333em;
}

.entrepreneurship__text {
  font-weight: 500;
  line-height: 1.2307692308;
  text-align: center;
  letter-spacing: -0.5px;
  color: #1e2432;
}

@supports (font-size: clamp( 1.25rem , 1.1213826367rem  +  0.6430868167vw , 1.625rem )) {
  .entrepreneurship__text {
    font-size: clamp( 1.25rem , 1.1213826367rem  +  0.6430868167vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1213826367rem  +  0.6430868167vw , 1.625rem )) {
  .entrepreneurship__text {
    font-size: calc(1.25rem + 0.375 * (100vw - 20rem) / 58.3125);
  }
}

.entrepreneurship__text:not(:last-child) {
  margin-bottom: 2.1923076923em;
}

.entrepreneurship__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
}

.entrepreneurship__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.column-entrepreneurship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-entrepreneurship__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 17.875rem;
  width: 17.875rem;
}

.column-entrepreneurship__image:not(:last-child) {
  margin-bottom: 2.25rem;
}

.column-entrepreneurship__image img {
  position: relative;
  max-width: 100%;
}

.column-entrepreneurship__image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17.875rem;
  height: 17.875rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #f6f9ff;
}

.column-entrepreneurship__title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2857142857;
  letter-spacing: -0.5px;
  color: #1e2432;
}

.column-entrepreneurship__title:not(:last-child) {
  margin-bottom: 0.9285714286em;
}

.column-entrepreneurship__item {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: -0.5px;
  color: #1e2432;
  position: relative;
  padding-left: 1.25rem;
}

.column-entrepreneurship__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.625rem;
  height: 0.625rem;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  border-radius: 50%;
  background-color: #ff9900;
}

.column-entrepreneurship__item:not(:last-child) {
  margin-bottom: 0.8em;
}

.work-with {
  background-color: #f2f7ff;
}

@supports (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .work-with {
    padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .work-with {
    padding-top: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .work-with {
    padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .work-with {
    padding-bottom: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

.work-with__title:not(:last-child) {
  margin-bottom: 1.0416666667em;
}

.work-with__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-with__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24rem;
          flex: 0 1 24rem;
}

.item-work-with {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0.25rem 1.875rem rgba(59, 84, 122, 0.2);
          box-shadow: 0px 0.25rem 1.875rem rgba(59, 84, 122, 0.2);
  border-radius: 0.625rem;
  padding: 2.1875rem 1.875rem 2.1875rem 1.875rem;
}

.item-work-with__icon:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.item-work-with__title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2857142857;
  letter-spacing: -0.5px;
  color: #1e2432;
}

.item-work-with__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.item-work-with__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #555f73;
}

@supports (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .trust-us {
    padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.2686227224rem  +  10.718113612vw , 8.125rem )) {
  .trust-us {
    padding-top: calc(1.875rem + 6.25 * (100vw - 20rem) / 58.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1828778135rem  +  10.2893890675vw , 7.875rem )) {
  .trust-us {
    padding-bottom: clamp( 1.875rem , -0.1828778135rem  +  10.2893890675vw , 7.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1828778135rem  +  10.2893890675vw , 7.875rem )) {
  .trust-us {
    padding-bottom: calc(1.875rem + 6 * (100vw - 20rem) / 58.3125);
  }
}

.trust-us__title:not(:last-child) {
  margin-bottom: 0.8333333333em;
}

.trust-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50rem;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.125rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.1875rem;
  }
}

@media (max-width: 75em) {
  .analytics__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 43.6875rem;
            flex: 0 1 43.6875rem;
  }
}

@media (max-width: 75.625em) {
  .example__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .example__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 71.875em) {
  .export__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 61.99875em) {
  .popup__body {
    height: 18.75rem;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__button {
    margin: 0 auto;
  }

  .menu__icon {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    padding: 5rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .menu__list {
    text-align: center;
    margin-bottom: 0.9375rem;
  }

  .menu__item {
    margin-bottom: 0.9375rem;
  }

  .spollers {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .get-started__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .get-started__body {
    text-align: center;
  }

  .get-started__text {
    max-width: 100%;
  }

  .get-started__image {
    margin: 0 auto;
  }

  .get-started__image img {
    max-width: 100%;
  }

  .info__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    text-align: center;
  }

  .info__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .comments__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .statistics__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .analytics__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .popup__title {
    padding-left: 0rem;
  }

  .popup__title::before {
    display: none;
  }

  .popup__close::after {
    bottom: 0%;
    left: 50%;
  }

  .popup__close {
    margin-left: -0.9375rem;
  }

  .popup__close span {
    display: none;
  }

  .popup__hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .popup__body {
    height: 25rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .dotts {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }

  .dotts .swiper-pagination-bullet {
    margin: 0rem 0.625rem;
    cursor: pointer;
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 50%;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .dotts .swiper-pagination-bullet::after {
    content: "";
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(7, 46, 75, 0.1764705882);
  }

  .dotts .swiper-pagination-bullet-active {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .dotts .swiper-pagination-bullet-active::after {
    content: "";
    height: 0.9375rem;
    width: 0.9375rem;
    background-color: #ff9900;
  }

  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.25rem;
  }

  .get-started__decor1 {
    display: none;
  }

  .analytics__decor1 {
    display: none;
  }

  .export__slider {
    display: none;
  }

  .entrepreneurship__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .entrepreneurship__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 34.375em) {
  .popup__body {
    height: 18.75rem;
  }
}

@media (max-width: 34.125em) {
  .download__input {
    padding: 1.25rem;
  }

  .download__button {
    width: 100%;
    padding: 0.9375rem 4.5rem 1.0625rem 2.0625rem;
  }
}

@media (max-width: 34.125rem) {
  .download__button::after {
    right: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 29.99875em) {
  .top-footer__logo {
    margin-right: 0;
  }

  .bottom-footer {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0.9375rem;
  }

  .get-started__decor2 {
    display: none;
  }

  .get-started__decor3 {
    display: none;
  }

  .body-comments {
    padding: 0.9375rem;
  }

  .statistics__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .analytics__decor2 {
    display: none;
  }

  .analytics__decor3 {
    display: none;
  }

  .content-analytics__button {
    width: 100%;
  }

  .thumbs__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .column-entrepreneurship__title {
    text-align: center;
  }
}

@media (max-width: 24.375rem) {
  .get-started__button::after {
    right: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .get-started__button {
    padding: 0.9375rem 2.5rem 1.0625rem 0.625rem;
  }

  .download__button {
    padding: 0.9375rem 2.5rem 1.0625rem 0.625rem;
  }
}

@media (max-width: 23.4375em) {
  .popup__body {
    height: 15.625rem;
  }
}

@media (max-width: 23.43625em) {
  .trust-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }
}

@media (any-hover: hover) {
  .more-example:hover {
    text-decoration: underline;
  }

  .header__button:hover {
    background-color: #fdb64b;
  }

  .menu__link:hover {
    color: #ff9900;
  }

  .top-footer__link:hover {
    color: #ff9900;
  }

  .bottom-footer__link:hover {
    text-decoration: underline;
  }

  .get-started__button:hover {
    background-color: rgba(255, 153, 0, 0.2);
  }

  .content-analytics__button:hover {
    background-color: #fdb64b;
  }

  .download__button:hover {
    background-color: rgba(255, 153, 0, 0.2);
  }
}

.webp .get-started{ background: url(../img/get-started/BG.webp) center/cover no-repeat; }